mixin pokemonCard(pokemon)

            div.pokemon-card
                div.title-row
                    h1=pokemon.name
                    p=pokemon.health
                    img(src=pokemon.type)
                div.pokemon-image
                    img(src=pokemon.image)
                div.pokemon-move
                    img(src=pokemon.attackOneCost)
                    img(src=pokemon.attackOneCost2)
                    h1=pokemon.attackOneTitle
                div.pokemon-move
                    img(src=pokemon.attackOneCost)
                    img(src=pokemon.attackOneCost2)
                    h1=pokemon.attackOneTitle