mixin pokemonCard(pokemon)

            div.pokemon-card
                div.title-row
                    h1=pokemon.name
                    p=pokemon.health
                    img(src=pokemon.type)
                div.pokemon-image
                    img(src=pokemon.image)
                div.pokemon-move
                    img(src=pokemon.attackOneCost)
                    img(src=pokemon.attackOneCost2)
                    h1=pokemon.attackOneTitle
                div.pokemon-move
                    img(src=pokemon.attackTwoCost)
                    img(src=pokemon.attackTwoCost2)
                    h1=pokemon.attackTwoTitle
                div.pokemon-stats
                    div.pokemon-stats-text
                        h1 Resistance‏‏‎ ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎Weakness
                    div.pokemon-stats-types
                        div.res
                            img(src=pokemon.resistance)
                        div.wek
                            img(src=pokemon.weakness)
